@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


:root{
    --clip: circle(0 at top right);
    --show: scale(0);
    --transitionModal: .5s transform;
    --transitionBackground: 1s .5s clip-path;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    display: flex;
    clip-path: var(--clip);
    transition: var(--transitionBackground);
}
.modal:target{
    --clip: circle(150% at top right);
    --show: scale(1);
    --transitionModal: .5s 1s transform;
    --transitionBackground: 1s  clip-path;
}
.modal__container{
    margin: auto;
    background-color: #fff;
    width: 90%;
    max-width: 1200px;
    min-height: 70%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);

    
    position: relative;

    transform: var(--show);
    transition: var(--transitionModal);
}
.modal__close{
    position: absolute;
    background-color: crimson;
    color: #fff;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    top: 0;
    right: 0;
    font-family: sans-serif;
    font-weight: bold;
}
.modal__img{
    grid-row: 1/-1;
    grid-column: 1/4;
    width: 80%;
    place-self: center;
}
.modal__texts{
    grid-row: 2/-2;
    grid-column: 4/-2;
    place-self: center;
    display: grid;
    gap: 20px;
    justify-items: start;
}
.modal__title{
    font-size: 3rem;
}
.modal__paragraph{
    font-size: 1.3rem;
}
.cta{
    display: inline-block;
    margin: auto;
    background-color: steelblue;
    color: #fff;
    text-decoration: none;
    padding: 15px 50px;
}

@media screen and (max-width: 650px) {
    .modal__container{
        margin: auto;
        background-color: #fff;
        width: 90%;
        max-width: 1200px;
        min-height: 70%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .modal__texts{
        text-align: center;
    }
    .modal__title{
        color: #008886;
        font-size: 2rem;
    }
    .modal__paragraph{
        font-size: 1.3rem;
    }
}